---
// Props para recibir los datos de la guardia
const { tipo, inicio, fin, observaciones, ausencias, id_aula } = Astro.props;


let iniciodate = new Date(inicio);
let findate = new Date(fin);
---

<div class="guardia-card">
  
  <p><strong>Tipo:</strong> {tipo}</p>
  <p><strong>Inicio:</strong> {iniciodate.toString()}</p>
  <p><strong>Fin:</strong> {findate.toString()}</p>
  <p><strong>Observaciones:</strong> {observaciones}</p>
  <p><strong>Ausencias:</strong> {ausencias}</p>
  <p><strong>Aula:</strong> {id_aula}</p>
</div>

<style>
  h3 {
    font-size: large;
    color: red;
  }

  .guardia-card {
    border: 2px solid #4a90e2;
    padding: 1rem;
    border-radius: 8px;
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin-bottom: 1rem;
  }
  
  .profesor {
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  p {
    margin: 0.25rem 0;
    font-size: 0.9rem;
  }
</style>